<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sinkthefloat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".showgamesactivity.ShowGame"
            android:exported="false" />
        <activity
            android:name=".showgamesactivity.ShowActivity"
            android:exported="false" />
        <activity
            android:name=".settingsactivity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".winneractivity.WinnerActivity"
            android:exported="false" />
        <activity
            android:name=".boatselector.BoatSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".gameactivity.GameActivity"
            android:exported="false" />
        <activity
            android:name=".helpactivity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".mainactivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>